.achievements {
  background-color: var(--white);
  border: 1px solid var(--card-color-light);
}
.achievements span {
  font-size: 30px;
}

.achievements p {
  font-size: 15px;
}

.answers {
  background-color: var(--bg-light-nav);
}

body[data-theme="dark-mode"] {
  .achievements {
    border: 1px solid var(--card-color-light);
    background-color: transparent;
    color: var(--white);
  }

  .achievements span {
    font-size: 30px;
  }

  .achievements p {
    font-size: 15px;
  }

  .answers {
    background-color: var(--bg-dark-transparent);
  }
}
