
body {
  background: var(--bg-light-color);
}

body[data-theme="dark-mode"] {
  background: var(--bg-body-gradient);
}
.assistant-page-container {
  height: 100vh !important;
}

.assistant-page {
  height: 80vh !important;
}