.chat {
  width: 55% !important;
  height: 100% !important;
  background-color: var(--white);
  color: black !important;
}

.chat-input {
  color: black !important;
  border-radius: 30px 0 0 30px !important;
}

.chat .chat-input::placeholder {
  color: black !important;
}

.chat-input:focus {
  color: var(--black) !important;
  box-shadow: none !important;
}

.chat span {
  border-radius: 0 30px 30px 0 !important;
  font-size: larger;
}

.chat .form-check-input {
  border-radius: 100% !important;
  padding: 10px;
}

.chat .btn-buttons {
  color: var(--black) !important;
}

.absolute {
  z-index: 1 !important;
  position: absolute !important;
  bottom: 45px !important;
}

body[data-theme="dark-mode"] {
  .chat {
    width: 55% !important;
    height: 80vh !important;
    background-color: var(--bg-dark-transparent);
    backdrop-filter: blur(150px);
  }

  .chat-input::placeholder {
    color: var(--white) !important;
  }

  .chat-input:focus {
    color: var(--white) !important;
    box-shadow: none !important;
  }

  .chat-input {
    color: var(--black) !important;
    border-radius: 30px 0 0 30px !important;
    backdrop-filter: blur(5px);
  }

  .chat span {
    border-radius: 0 30px 30px 0 !important;
    font-size: larger;
  }

  .chat .form-check-input {
    border-radius: 100% !important;
    padding: 10px;
  }

  .chat .btn-buttons {
    color: var(--white) !important;
  }
}
