.customer-details {
  background-color: #fff;
  color: var(--black);
  border: 1px solid #c3c3c3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-orange {
  color: var(--orange);
}

.bg-blue-icon {
  background-color: var(--light-blue-btn);
  color: var(--blue);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.details-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  width: 120px;
}

.value {
  margin-left: 10px;
}

.customer-security-input {
  color: var(--black) !important;
}

.customer-security-input::placeholder {
  color: var(--black) !important;
}


.customer-security-input:focus {
  .form-control-security::placeholder {
    color: var(--black) !important;
  }

  color: var(--black) !important;
}

.customer-security-span {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.form-control-security:focus {
  color: var(--black) !important;
  box-shadow: none;
}

body[data-theme="dark-mode"] {
  .customer-details {
    background: var(--bg-dark-transparent);
    color: var(--white);
    border: 1px solid var(--bg-secondary-color);
  }

  .bg-blue-icon {
    background-color: var(--bg-secondary-color);
    color: var(--white);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .customer-security-input {
    color: var(--white) !important;
  }

  .customer-security-input::placeholder {
    color: var(--white) !important;
  }

  .customer-security-input:focus {
    color: var(--white) !important;
    box-shadow: none;
  }
}
