.overview-details {
  background-color: #fff;
  color: var(--black);
  border: 1px solid #c3c3c3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overview-title {
  color: var(--black);
}

.overview-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  border-bottom: 1px solid var(--black);
}

.overview-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-number {
  font-weight: bold;
  font-size: 30px;
}

.overview-name {
  font-size: 13px;
  color: var(--black);
}

.button-overview {
  background-color: var(--light-blue-btn);
  width: 50%;
  height: 100%;
  border: 1px solid var(--light-blue-btn);
  border-radius: 30px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: bold;
}

.overview-icon {
  background-color: var(--light-blue-btn);
  color: var(--blue);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button-tittle {
  color: var(--blue);
}

.button-tittle:hover {
  color: var(--bg-dark-color);
}

body[data-theme="dark-mode"] {
  .overview-details {
    height: 50%;
    background-color: var(--bg-dark-transparent);
    color: var(--black);
    border: 1px solid var(--bg-dark-transparent);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .overview-title {
    color: var(--white);
  }

  .overview-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--white);
  }

  .overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .overview-number {
    font-weight: bold;
    font-size: 30px;
    color: var(--white);
  }

  .overview-name {
    font-size: 13px;
    color: var(--white);
  }

  .overview-icon {
    background-color: var(--light-blue-btn);
    color: var(--white);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .button-tittle {
    color: var(--white);
  }
}
