.overview-details {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gray);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overview-title {
  color: var(--black);
}

.overview-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
  border-bottom: 1px solid var(--black);
}

.overview-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-number {
  font-weight: bold;
  font-size: 30px;
}

.overview-name {
  font-size: 13px;
  color: var(--black);
}

.button-overview {
  width: 50%;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 50px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.chat-btn {
  background-color: var(--white);
  transition: all 0.2s ease;
}

.chat-btn:hover {
  background-color: var(--light-blue-btn);
}

.img-btn {
  background-color: var(--light-blue-btn);
  transition: all 0.2s ease;
}

.img-btn:hover {
  background-color: var(--light-blue-btn-hover);
}

.overview-icon {
  background-color: var(--light-blue-btn);
  color: var(--blue);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button-tittle {
  color: var(--blue);
}

body[data-theme="dark-mode"] {
  .overview-details {
    height: 50%;
    background-color: var(--bg-dark-transparent);
    color: var(--black);
    border: 1px solid var(--bg-dark-transparent);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .overview-title {
    color: var(--white);
  }

  .overview-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--white);
  }

  .overview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .overview-number {
    font-weight: bold;
    font-size: 30px;
    color: var(--white);
  }

  .overview-name {
    font-size: 13px;
    color: var(--white);
  }

  .overview-icon {
    background-color: var(--light-blue-btn);
    color: var(--white);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .button-tittle {
    color: var(--white);
  }

  .button-overview {
    border: 1px solid var(--bg-dark-transparent) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  }

  .chat-btn {
    background: linear-gradient(
      274deg,
      rgba(28, 143, 185, 1) 0%,
      rgba(31, 74, 161, 1) 26%,
      rgba(32, 34, 44, 1) 100%
    );
    background-repeat: no-repeat;
    transition: background 0.5s ease;
  }
  .chat-btn:hover {
    background: linear-gradient(
      274deg,
      rgb(19, 117, 153) 0%,
      rgb(25, 60, 130) 26%,
      rgb(20, 21, 27) 100%
    );
    background-repeat: no-repeat;
  }

  .img-btn {
    background-color: var(--bg-dark-transparent);
  }

  .img-btn:hover {
    background-color: var(--bg-dark-transparent-hover);
  }
}
