.sidebar-chat {
  width: 25% !important;
  height: 100% !important;
  background-color: var(--white);
}
.sidebar-chat .buttons {
  background: url(../../assets/images/bg-icon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: var(--white);
  &:hover {
    color: var(--white);
  }
}
.sidebar-chat .buttons p {
  font-size: 15px;
}
.sidebar-chat .buttons span {
  font-size: 12px;
  color: var(--white);
}
.sidebar-chat .list-item {
  color: var(--black) !important;
}
.sidebar-chat .btn-buttons {
  color: var(--black) !important;
  background-color: var(--bg-light-color) !important;
}

.old-requests {
  height: 65% !important;
  overflow-y: auto;
}

.old-requests::-webkit-scrollbar {
  width: 10px !important;
}

.old-requests::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary-color) !important;
  border-radius: 10px !important;
  width: 10px;
}

body[data-theme="dark-mode"] {
  .sidebar-chat {
    background-color: var(--bg-dark-transparent);
  }
  .sidebar-chat .buttons {
    background: url(../../assets/images/bg-icon.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: var(--white);
    &:hover {
      color: var(--white);
    }
  }
  .sidebar-chat .buttons p {
    font-size: 15px;
  }
  .sidebar-chat .buttons span {
    font-size: 12px;
    color: var(--white);
  }
  .sidebar-chat .list-item {
    color: var(--white) !important;
  }
  .sidebar-chat .btn-buttons {
    color: var(--white) !important;
    background-color: var(--bg-secondary-color) !important;
  }
  .old-requests {
    height: 65% !important;
    overflow-y: auto;
  }
}
