.dark-signup {
  background: url(../../assets/icons/SignIn-dark.svg);
  color: var(--white);
}

.light-signup {
  background: url(../../assets/icons/SignIn-light.svg);
  color: var(--black);
}
body {
  overflow-x: hidden !important ;
}
.sign-up {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.sign-up input,
.sign-up span {
  backdrop-filter: blur(5px);
}

.sign-up .title-signup {
  font-size: 3.25rem;
  margin-top: -8rem;
  font-weight: 900;
}

.sign-up .desc-signup {
  font-size: 1.25rem;
  margin-top: -3rem;
}

.sign-up .next-btn {
  padding: 16px;
}
.sign-up span {
  border-radius: 15px 0 0 15px !important;
  /* color: var(--white) !important; */
  font-size: larger;
}

.dark-signup input {
  border-radius: 0 15px 15px 0 !important;
  color: var(--white) !important;
  font-size: larger;
}

.light-signup input {
  border-radius: 0 15px 15px 0 !important;
  color: var(--black) !important;
  font-size: larger;
}
input:focus {
  box-shadow: none !important;
}

.dark-signup input::placeholder {
  color: var(--white) !important;
}

.light-signup input::placeholder {
  color: var(--black) !important;
}

.dark-signup .card {
  background-color: var(--card-color-dark);
  border-color: var(--card-color-dark);
  backdrop-filter: blur(15px);
  width: 150px;
  height: 140px;
  border-radius: 15px;
  padding: 15px;
}
.light-signup .card {
  background-color: var(--card-color-light);
  border-color: var(--card-color-light);
  backdrop-filter: blur(15px);
  width: 150px;
  height: 140px;
  border-radius: 15px;
  padding: 15px;
}

.sign-up .apple-icon {
  fill: var(--white);
}
.light-signup .apple-icon {
  fill: var(--black);
}

.sign-up .card-yt {
  background: url(../../assets/images/bg-icon.jpg);
  width: 250px;
}

.light-signup .card-yt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust alpha for darkness */
  z-index: 1;
  border-radius: 15px;
}
.sign-up .yt-icon {
  fill: var(--white);
}

@media screen and (max-width: 767px) {
  .sign-up {
    height: auto;
  }

  .sign-up .card {
    width: 250px;
  }
}
