.sign-in {
  background: url(../../assets/icons/SignIn-light.svg);
  color: var(--black);
}

input::placeholder {
  color: var(--black) !important;
}

input:focus {
  color: var(--black) !important;
}

input {
  color: var(--black) !important;
}

.sign-in .card {
  background-color: var(--card-color-light);
  border-color: var(--card-color-light);
  color: var(--black);
  backdrop-filter: blur(15px);
  width: 150px;
  height: 140px;
  border-radius: 15px;
  padding: 15px;
}


@media screen and (prefers-color-scheme: dark) {
  .sign-in {
    background: url(../../assets/icons/SignIn-dark.svg);
    color: var(--white);
  }

  input {
    color: var(--white) !important;
  }

  input::placeholder {
    color: var(--white) !important;
  }

  input:focus {
    color: var(--white) !important;
  }

  .sign-in .card {
    background-color: var(--card-color-dark);
    border-color: var(--card-color-dark);
    color: var(--white);
    backdrop-filter: blur(15px);
    width: 150px;
    height: 140px;
    border-radius: 15px;
    padding: 15px;
  }
}

.sign-in {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.dark-signin .title-signin {
  font-size: 3.25rem;
  margin-top: -8rem;
  color: var(--white);
  font-weight: 900;
}

.light-signin .title-signin {
  font-size: 3.25rem;
  margin-top: -8rem;
  color: var(--black);
  font-weight: 900;
}

.dark-signin input {
  border-radius: 0 15px 15px 0 !important;
  color: var(--white) !important;
  font-size: larger;
}

.light-signin input {
  border-radius: 0 15px 15px 0 !important;
  color: var(--black) !important;
  font-size: larger;
}
input:focus {
  box-shadow: none !important;
}

.dark-signin .input-group-text,
.light-signin .input-group-text {
  border-radius: 15px 0 0 15px !important;
}

.dark-signin input::placeholder {
  color: var(--white) !important;
}

.light-signin input::placeholder {
  color: var(--black) !important;
}

.dark-signin .form-check-input,
.light-signin .form-check-input {
  border-radius: 100% !important;
  padding: 10px;
}

.signin-herf {
  transition: all 100ms ease-in-out;
}

.dark-signin .signin-herf:hover {
  color: var(--white) !important;
}
