.assistant-page-container {
  width: 100% !important;
  height: 100vh;
}

.assistant-page {
  height: 80vh;
}

body[data-theme="dark-mode"] {
  .assistant-page-container {
    width: 100% !important;
    height: 100vh;
  }
  .assistant-page {
    height: 80vh;
  }
}
