.assistant-page-container {
  width: 100% !important;
  height: 100vh;
}

.assistant-page {
  height: 80vh;
}

body[data-theme="dark-mode"] {
  .assistant-page-container {
    width: 100% !important;
    height: 100vh;
  }
  .assistant-page {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .sidebar-chat {
    height: 80vh !important;
    width: 300px !important;
    position: absolute;
    left: -100%;
    bottom: 15px;
    opacity: 1;
    z-index: 1;

    transition: all 500ms ease-out, opacity 300ms ease-out;
  }

  .sidebar-chat.show {
    bottom: 15px;
    left: -7px !important;
    opacity: 1;
  }

  body[data-theme="dark-mode"] {
    .sidebar-chat {
      background-color: var(--bg-dark-color);
    }
  }
}
