.assistant-page-container {
  width: 100% !important;
  height: 100vh;
}

.assistant-page {
  height: 80vh;
}

body[data-theme="dark-mode"] {
  .assistant-page-container {
    width: 100% !important;
    height: 100vh;
  }
  .assistant-page {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .bars {
    display: block !important;
  }

  .sidebar-chat {
    margin-top: 0 !important;
    height: 100vh !important;
    width: 320px !important;
    border-radius: 0 20px 10px 0 !important;
    position: absolute;
    left: -120%;
    top: 0;
    opacity: 1;
    z-index: 1;

    transition: all 500ms ease-out, opacity 300ms ease-out;
  }

  .sidebar-chat.show {
    left: -24px !important;
    top: 0;
    opacity: 1;
    z-index: 10 !important;
  }

  body[data-theme="dark-mode"] {
    .sidebar-chat {
      background-color: var(--bg-dark-color);
    }
  }
}
