
.profile-page-container{  
  width: 100% !important;
  height: auto !important;
  gap: 10px;
}
.customer-info{
  width: 25% !important;
  
.profile-page {
  background-color: color-mix(in srgb, var(--bg-light-color) 96%, var(--bg-dark-color) 4%) !important;
}
.overview-info{
  width: 30% !important;
}