.profile-page {
  background-color: color-mix(in srgb, var(--bg-light-color) 96%, var(--bg-dark-color) 4%) !important;
}

.customer-details {
  background-color: #fff;
  color: var(--black);
  border: 1px solid #c3c3c3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-orange {
  color: var(--orange);
}

.bg-blue-icon {
  background-color: var(--light-blue-btn);
  color: var(--blue);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.details-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  width: 120px;
}

.value {
  margin-left: 10px;
}

body[data-theme="dark-mode"] {
  .profile-page {
    background-color: color-mix(in srgb, var(--bg-dark-color) 96%, var(--bg-light-color) 4%) !important;
  }
  
  .customer-details {
    background: transparent;
    color: var(--white);
  }

  .bg-blue-icon {
    background-color: var(--bg-secondary-color);
    color: var(--white);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
