.sign-in {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/icons/SignIn-light.svg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: var(--black);
}

.sign-in .title-signin {
  margin-top: -8rem;
  font-size: 3.25rem;
  font-weight: 900;
}

input::placeholder {
  color: var(--black);
}

input:focus {
  color: var(--black);
  box-shadow: none;
}

input {
  color: var(--black);
  font-size: larger;
  border-radius: 0 15px 15px 0 !important;
  backdrop-filter: blur(5px);
}

.sign-in span {
  font-size: larger;
  border-radius: 15px 0 0 15px;
}

.sign-in .form-check-input {
  padding: 10px;
  border-radius: 100% !important;
}

@media screen and (prefers-color-scheme: dark) {
  .sign-in {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/icons/SignIn-dark.svg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: var(--white);
  }

  input {
    color: var(--white) !important;
    font-size: larger;
    border-radius: 0 15px 15px 0 !important;
  }

  input::placeholder {
    color: var(--white) !important;
  }

  input:focus {
    color: var(--white) !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 767px) {
  form {
    scale: 0.9;
  }
  .sign-in .title-signin {
    font-size: 2.25rem;
    margin-top: -5rem;
    font-weight: 900;
  }
  .input-group {
    justify-content: center !important;
  }
}
