/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLES */
@import "./variables.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist" !important;
  background: var(--bg-light-color);
  height: 100vh;
}

body[data-theme="dark-mode"] {
  background-image: var(--bg-body-gradient) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}